.tilte{
    font-size: 0.16rem;
    text-align: center;
    line-height: 0.3rem;
}
.data{
    font-size: 0.105rem;
    text-align: right;
    line-height: 0.3rem;
}
.jianjie{
    font-size: 0.12rem;
    line-height: 0.3rem;
}
.des{
    font-size: 0.105rem;
    line-height: 0.2rem;
}
.titleX{
    font-size: 0.105rem;
    line-height: 0.2rem;
}
